<ul>
    <li>
        <a class="nav-item nav-link active" routerLink="/merchant" routerLinkActive='active'>
            <div class="row">
                <div class="col-sm-6 dash-img">
                    <img src="assets/images/dashboard.png" width="36px">
                </div>
                <div class="col-sm-6">

                </div>
            </div>
            <h5 class="title">Dashboard</h5>
        </a>
    </li>

    <li>
        <a class="nav-item nav-link active" routerLink="/merchant-table" routerLinkActive='active'>
            <div class="row">
                <div class="col-sm-6 dash-img">
                    <img src="assets/images/group-of-men.png" width="50px">
                </div>
                <div class="col-sm-6">

                </div>
            </div>
            <h5 class="card-title">Managers</h5>
        </a>
    </li>


    <li>
        <a class="nav-item nav-link active" routerLink="/merchant-dash-manager" routerLinkActive='active'>
            <div class="row">
                <div class="col-sm-6 dash-img">
                    <img src="assets/images/store.png" width="50px">
                </div>
                <div class="col-sm-6">

                </div>
            </div>
            <h5 class="card-title">Shops</h5>
        </a>
    </li>






    <li>
        <a (click)="logout()" routerLinkActive="active">
            <div class="row">
                <div class="col-sm-6 dash-img">
                    <img src="assets/images/logout.png" width="30px">
                </div>
                <div class="col-sm-6">

                </div>
            </div>
            <h5 class="card-title">Log out</h5>
        </a>
    </li>
</ul>



<div class="dashboard">
    <h1>Merchant</h1>
    <hr>


    <div class="row">

        <div class="col-md-6">
            <div class="inventory">
                <h2>Inventory in Ksh</h2>
                <div class="doughnut" style="display: block;">
                    <canvas width="100%" height="100%" baseChart [data]="doughnutChartData"
                        [labels]="doughnutChartLabels" [chartType]="doughnutChartType"
                        [options]="doughnutChartOptions" [colors]="pieChartColors"></canvas>
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="payment">
                <h2>Payment</h2>
                <div style="display: block">

                    <canvas width="100%" height="100%" baseChart [data]="pieChartData" [labels]="pieChartLabels"
                        [chartType]="pieChartType" [colors]="pieChartColors" [options]=pieChartOptions>
                    </canvas>
                </div>
            </div>
        </div>

    </div>

    <div class="purchase">
        <h2> Purchase</h2>
        <div  class="barChart" style="display: block;">
            <canvas  baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                [legend]="barChartLegend" [chartType]="barChartType" [colors]="chartColors">
            </canvas>
        </div>
    </div>


    <div class="purchase">
        <h2> Sales</h2>
        <div class="barChart2" style="display: block;">
            <canvas baseChart [datasets]="barChartData2" [labels]="barChartLabels2" [options]="barChartOptions"
                [legend]="barChartLegend2" [chartType]="barChartType2" [colors]="chartColors">
            </canvas>
        </div>
    </div>
</div>